/* Practicals Page Custom Styles */

.bg-gradient-subtle {
    background: linear-gradient(120deg,
            rgba(59, 130, 246, 0.03) 0%,
            rgba(16, 185, 129, 0.03) 25%,
            rgba(244, 114, 182, 0.02) 50%,
            rgba(234, 88, 12, 0.02) 75%);
}

.progress-bar {
    height: 0.5rem;
    /* same as h-2 */
    border-radius: 9999px;
    background-image: linear-gradient(to right, #3b82f6, #14b8a6);
    transition: width 0.3s ease-in-out;
}