@import "tailwindcss";

.clip-diagonal {
  clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
}

@keyframes waveHorizontal {
  0% {
    transform: translateX(0) translateY(0);
  }

  50% {
    transform: translateX(-25%) translateY(10px);
    /* drift + float */
  }

  100% {
    transform: translateX(-50%) translateY(0);
  }
}

.animate-wave-fast {
  animation: waveHorizontal 12s linear infinite;
}

.animate-wave-slow {
  animation: waveHorizontal 20s linear infinite;
}

.animate-wave-slowest {
  animation: waveHorizontal 35s linear infinite;
}